<section class="vh-100" >
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Projekt</p>

                <form class="mx-1 mx-md-4">


                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="name" >Nazwa:</label>
                      <input  [(ngModel)]="name" type="text" id="name" class="form-control" name="name"/>

                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label   class="form-label" for="desc" >Opis:</label>
                      <textarea [(ngModel)]="desc" type="text" id="desc" class="form-control" name="desc"></textarea>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="date">Oddaj:</label>
                      <input [(ngModel)]="oddaj" type="date" id="date" class="form-control" name="oddaj" />
                    </div>
                  </div>

                  <div class="row justify-content-around" style="">
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" onclick="history.back()" class="btn btn-primary btn-lg mx-5">Wróć</button>
                      <button (click)="addProjekt()" type="button" class="btn btn-primary btn-lg mx-5">Zapisz</button>
                    </div>
                  </div>

                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
