<section class="vh-100" >
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Lista zadań</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-fill align-items-center mb-4 overflow-auto">
                    <table class="table">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Opis</th>
                        <th scope="col">Data oddania</th>
                        <th scope="col">Data utworzenia</th>
                        <th scope="col">Data modyfikacji</th>
                        <th scope="col">Edytuj</th>
                        <th scope="col">Usuń</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr *ngFor="let project of projectList">
                        <td>{{project.zadanieId}}</td>
                        <td>{{project.nazwa}}</td>
                        <td>{{project.opis}}</td>
                        <td>{{project.dataOddania| date:'dd/MM/yyyy, hh:mm'}}</td>
                        <td>{{project.dataCzasUtworzenia| date:'dd/MM/yyyy, hh:mm'}}</td>
                        <td>{{project.dataCzasModyfikacji| date:'dd/MM/yyyy, hh:mm'}}</td>
                        <td>  <a (click)="editTask(project.zadanieId)">
                          <fa-icon [icon]="faEdit" title="Edycja"></fa-icon>
                        </a> </td>
                        <td>
                          <a (click)="deleteTask(project.zadanieId)">
                            <fa-icon [icon]="faTrash" title="Usun"></fa-icon>
                          </a>
                        </td>
                      </tr>

                      </tbody>
                    </table>



                  </div>
                  <mat-paginator [pageSizeOptions]="[5, 15, 30]" [pageSize]="5" [length]="totalElements"
                                 (page)="nextPage($event)">

                  </mat-paginator>
                  <div class="row justify-content-around" style="">
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" onclick="history.back()" class="btn btn-primary btn-lg mx-5">Wróć</button>
                      <button type="button" (click)="addNewTask()" class="btn btn-primary btn-lg mx-5">Dodaj nowy</button>
                    </div>
                  </div>


                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
