<section class="vh-100" >
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="">
                <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Witaj admin</p>
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Lista projektów</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-fill align-items-center mb-4 overflow-auto">
                    <table class="table">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Opis</th>
                        <th scope="col">Data oddania</th>
                        <th scope="col">Data utworzenia</th>
                        <th scope="col">Data modyfikacji</th>
                        <th scope="col">Akcje</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let project of projectList">
                        <td>{{project.projektId}}</td>
                        <td>{{project.nazwa}}</td>
                        <td>{{project.opis}}</td>
                        <td>{{project.dataOddania| date:'dd/MM/yyyy, hh:mm'}}</td>
                        <td>{{project.dataCzasUtworzenia | date:'dd/MM/yyyy, hh:mm'}}</td>
                        <td>{{project.dataCzasModyfikacji | date:'dd/MM/yyyy, hh:mm'}}</td>
                        <td>
                          <div class="row">
                            <a class="col-2" [routerLink]="[project.projektId,'task']">
                              <fa-icon [icon]="faListCheck" title="Zadania"></fa-icon>
                            </a>
                            <a class="col-2" [routerLink]="[project.projektId,'student']">
                              <fa-icon [icon]="faArrowRightToBracket" title="Studenci"></fa-icon>
                            </a>
                            <a  class="col-2" [routerLink]="[project.projektId, 'edit']">
                              <fa-icon [icon]="faEdit" title="Edycja"></fa-icon>
                            </a>
                            <a  class="col-2"  (click)="delete(project.projektId)">
                              <fa-icon [icon]="faTrash" title="Usun"></fa-icon>
                            </a>
                            <a  class="col-2"  [routerLink]="[project.projektId,'file']">
                              <fa-icon [icon]="faFile" title="Pliki"></fa-icon>
                            </a></div>

                        </td>
                      </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="row justify-content-around" style="">
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" onclick="location.href='/add';" class="btn btn-primary btn-lg mx-5">Dodaj nowy</button>
                    </div>
                  </div>
                  <div class="row justify-content-around" style="">
                    <div class="d-flex justify-content-end mx-4 mb-3 mb-lg-4">
                      <button type="button" (click)="logout()" class="btn btn-primary btn-lg mx-5 text-right">Wyloguj</button>
                    </div>
                  </div>

                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
