<section class="vh-100" >
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Pliki projektu</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-fill align-items-center mb-4 overflow-auto">
                    <table class="table">
                      <thead>
                      <tr>
                        <th scope="col" style="width: 70%">Nazwa</th>
                        <th scope="col" style="width: 10%">Rozmiar</th>
                        <th scope="col"  style="width: 10%" class="text-center">Pobierz</th>
                        <th scope="col" style="width: 10%" class="text-center">Usuń</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr *ngFor="let file of fileInfos | async">
                        <td>{{file.name}}</td>
                        <td>{{file.size}}</td>
                        <td class="text-center">
                        <a  href="http://localhost:8080/api/file/files/{{file.id}}" style="color: black">
                          <fa-icon [icon]="faDownload" title="Pobierz"></fa-icon>
                        </a>
                      </td>
                        <td class="text-center">
                          <a (click)="delete(file.id)" style="cursor: pointer">
                            <fa-icon [icon]="faTrash" title="Usun"></fa-icon>
                          </a></td>

                      </tr>

                      </tbody>
                    </table>



                  </div>

                  <div class="row align-content-center " style="">
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
<div class="col-8">

  <label class="btn btn-default  w-100">
  <input type="file" (change)="selectFile($event)" />
</label></div>
                  <div class="col-4"><button type="button" [disabled]="!selectedFiles" (click)="upload()" class="btn btn-primary btn-lg mx-5">
                    Dodaj
                  </button></div>

                    </div>

                  </div>
                  <div class="text-center">                  <button type="button" onclick="history.back()" class="btn btn-primary btn-lg mx-auto">Wróć</button>
                  </div>


                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
