<section class="vh-100" >
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Lista studentów</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-fill align-items-center mb-4 overflow-auto">
                    <table class="table">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Imię</th>
                        <th scope="col">Nazwisko</th>
                        <th scope="col">Nr indeksu</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let student of studentsList">
                        <td>{{student.studentId}}</td>
                        <td>{{student.imie}}</td>
                        <td>{{student.nazwisko}}</td>
                        <td>{{student.nrIndeksu}}</td>
                      </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="row justify-content-around" style="">
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" onclick="history.back()" class="btn btn-primary btn-lg mx-5">Wróć</button>
                    </div>
                  </div>

                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
