<section class="vh-100" >
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Rejestracja</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input [(ngModel)]="name" type="text" id="form3Example1c" class="form-control"  name="name"/>
                      <label class="form-label" for="form3Example1c">Podaj imię</label>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input  [(ngModel)]="lastname" type="text" id="form3Example5c" class="form-control" name="lastname" />
                      <label class="form-label" for="form3Example5c">Podaj nazwisko</label>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input  [(ngModel)]="index" type="text" id="form3Example6c" class="form-control" name="index" />
                      <label class="form-label" for="form3Example6c">Podaj numer indeksu</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input [(ngModel)]="email"  type="email" id="form3Example3c" class="form-control"  name="email"/>
                      <label class="form-label" for="form3Example3c">Podaj Email</label>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example8c">Forma studiów</label>
                      <select  [(ngModel)]="form"  class="form-label form-select" style="width: 100%" id="form3Example8c" name="form">
                      <option [value]="true" >stacjonarne</option>
                      <option [value]="false" >niestacjonarne</option>
                      </select>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input [(ngModel)]="password" type="password" id="form3Example4c" class="form-control"  name="password" />
                      <label class="form-label" for="form3Example4c">Podaj hasło</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input  [(ngModel)]="re_password" type="password" id="form3Example4cd" class="form-control"  name="re_password"/>
                      <label class="form-label" for="form3Example4cd">Powtórz hasło</label>
                    </div>
                  </div>


                  <div class="row justify-content-around" style="">
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button onclick="location.href='/login';" type="button" class="btn btn-primary btn-lg mx-5">Logowanie</button>
                      <button  (click)="registerUser()" type="button" class="btn btn-primary btn-lg mx-5">
                        Zarejestruj
                      </button>
                    </div>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="assets/login.png" class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
